<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.go.tech.protection.admin.domain.dept.dao.DeptDAO">
    <select id="selectDeptNameList" resultType="kr.go.tech.protection.admin.domain.dept.dto.DeptVO$NameListResponseVO">
        /* selectAuthNameList [관리자 권한 리스트 조회 쿼리] */
        SELECT
            "AUTHRT_NO",
            "AUTHRT_NM"
        FROM
            "AUTHRT_GROUP_INFO_TB"
        ORDER BY
            "AUTHRT_NO"
    </select>
</mapper>