<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.go.tech.protection.admin.domain.account.enterprise.dao.EntMemberDAO">
    <select id="selectEntMemberList" resultType="kr.go.tech.protection.admin.domain.account.enterprise.dto.EntMemberVO$ListResponseVO" parameterType="kr.go.tech.protection.admin.domain.account.enterprise.dto.EntMemberPO$SearchPO">
        /* selectEntMemberList [기업 회원 리스트 조회 쿼리] */
        SELECT
             EMIT."ENT_MBR_NO",
             EMIT."CONM_NM",
             EMIT."BR_NO",
             EMIT."RPRSV_NM",
             EMIT."PIC_NM",
             EMIT."PIC_MBL_TELNO",
             EMIT."EML_ADDR",
             EMIT."FRST_REG_DT"
         FROM
             "ENT_MBR_INFO_TB" EMIT
        <where>
            <if test="conmNm != null and conmNm != ''">
                AND EMIT."CONM_NM" = #{conmNm}
            </if>
            <if test="brNo != null and brNo != ''">
                AND EMIT."BR_NO" = #{brNo}
            </if>
            <if test="searchType != null and searchType != '' and searchKeyword != null and searchKeyword != ''">
                <choose>
                    <when test="searchType == 'CMR001'">
                        AND EMIT."RPRSV_NM" LIKE '%'||#{searchKeyword}||'%'
                    </when>
                    <when test="searchType == 'CMR002'">
                        AND EMIT."PIC_NM" LIKE '%'||#{searchKeyword}||'%'
                    </when>
                </choose>
            </if>
        </where>
         ORDER BY
             EMIT."FRST_REG_DT" DESC
    </select>

  <select id="selectEntMemberByNo" resultType="kr.go.tech.protection.admin.domain.account.enterprise.dto.EntMemberVO$DetailEntMemberVO">
      /* selectEntMemberByNo [기업 회원 상세 조회 쿼리] */
      SELECT
          EMIT."ENT_MBR_NO",         -- 기업회원번호
          EMIT."MBR_SE_CD",          -- 회원구분 코드
          EMIT."MBR_DTL_SE_CD",      -- 회원상세구분 코드
          EMIT."JNT_CERT_INFO",      -- 공동인증서 정보
          EMIT."CONM_NM",            -- 사업자명
          EMIT."RPRSV_NM",           -- 대표자명
          EMIT."BR_NO",              -- 사업자등록번호
          EMIT."BZMN_TYPE_CD",       -- 사업자유형 코드
          EMIT."INST_TYPE_CD",       -- 기관유형 코드
          EMIT."RPRS_BZSTAT_CD",     -- 대표업태 코드
          EMIT."RPRS_TPBIZ_CD",      -- 대표업종 코드
          EMIT."EMP_CNT",            -- 직원 수
          EMIT."TEL_NO",             -- 기업 연락처
          EMIT."BPLC_ZIP",           -- 사업장 우편번호
          EMIT."BPLC_ROAD_NM",       -- 사업장 도로명
          EMIT."BPLC_DADDR",         -- 사업장 상세주소
          '(' ||EMIT."BPLC_ZIP" || ') ' || EMIT."BPLC_ROAD_NM" || EMIT."BPLC_DADDR" AS "BPLC_ADDRESS",   -- 사업장 주소
          EMIT."CO_HMPG_ADDR",       -- 회사 홈페이지 주소
          EMIT."MAIN_PRDCTN",        -- 주요 생산 제품
          EMIT."PIC_NM",             -- 담당자명
          EMIT."PIC_SE_CD",          -- 담당자 구분 코드
          EMIT."PIC_DEPT_NM",        -- 담당자 부서명
          EMIT."PIC_JBPS_CD",        -- 담당자 직위 코드
          EMIT."PIC_MBL_TELNO",      -- 담당자 연락처
          EMIT."EML_ADDR",           -- 담당자 이메일
          EMIT."EML_RCPTN_AGRE_YN",   -- 이메일 수신 동의 여부
          COALESCE(ESIT."SDGN_NO"::VARCHAR, '-') AS "SDGN_NO",            -- 자가진단번호
          ESIT."INST_PRTC_MNG_FLD_SCR",     -- 제도적 보호 관리 분야 점수
          ESIT."PSNL_PRTC_MNG_FLD_SCR",     -- 인적 보호 관리 분야 점수
          ESIT."PHYS_PRTC_MNG_FLD_SCR",     -- 물적 보호 관리 분야 점수
          ESIT."ACDNT_DIS_MNG_FLD_SCR",      -- 사고재해 관리 분야 점수
          -- 기술보호 자가진단 종합점수 (4개 점수의 합)
          (COALESCE(ESIT."INST_PRTC_MNG_FLD_SCR", 0) +
           COALESCE(ESIT."PSNL_PRTC_MNG_FLD_SCR", 0) +
           COALESCE(ESIT."PHYS_PRTC_MNG_FLD_SCR", 0) +
           COALESCE(ESIT."ACDNT_DIS_MNG_FLD_SCR", 0)) AS "TOTAL_SCORE", -- 종합점수
          ESIT."FRST_REG_DT",     -- 자가진단 최초 등록일
          ESIT."LAST_MDFCN_DT",      -- 자가진단 수정일
          -- 만료일: 수정일 + 6개월
          ESIT."LAST_MDFCN_DT" + INTERVAL '6 months' AS "EXPIRATION_DATE", -- 만료일
          -- 만료 여부: 6개월 이상 경과 시 'Y', 그렇지 않으면 'N'
          CASE
              WHEN (ESIT."LAST_MDFCN_DT" + INTERVAL '6 months')::DATE <![CDATA[<=]]> CURRENT_DATE THEN 'Y'
              ELSE 'N'
          END AS "EXPIRATION_YN" -- 만료 여부
      FROM
            "ENT_MBR_INFO_TB" EMIT
      LEFT JOIN
      	    "ENT_SDGN_INFO_TB" ESIT
      ON
        	  EMIT."ENT_MBR_NO" = ESIT."ENT_MBR_NO"
      WHERE
            EMIT."ENT_MBR_NO" = #{no}
  </select>

  <update id="updateEntMember" parameterType="kr.go.tech.protection.admin.domain.account.enterprise.dto.EntMemberVO$UpdateRequestVO">
      /* updateEntMember [기업 회원 업데이트 쿼리] */
      UPDATE
          "ENT_MBR_INFO_TB"
      SET
          "MBR_NM" = #{conmNm},                     -- 사업자명
          "RPRSV_NM" = #{rprsvNm},                  -- 대표자명
          "BR_NO" = #{brNo},                        -- 사업자등록번호
          "BZMNT_TYPE_CD" = #{bzmnTypeCd},          -- 사업자유형 코드
          "INST_TYPE_CD" = #{instTypeCd},          -- 기관유형 코드
          "RPRS_BZSTAT_CD" = #{rprsBzstatCd},       -- 대표업태 코드
          "RPRS_TPBIZ_CD" = #{rprsTpbizCd},         -- 대표업종 코드
          "EMP_CNT" = #{empCnt},                     -- 직원 수
          "TEL_NO" = #{telNo},                       -- 기업 연락처
          "BPLC_ZIP" = #{bplcZip},                  -- 사업장 우편번호
          "BPLC_ROAD_NM" = #{bplcRoadNm},           -- 사업장 도로명
          "BPLC_DADDR" = #{bplcDaddr},              -- 사업장 상세주소
          "CO_HMPG_ADDR" = #{coHmpgAddr},           -- 회사 홈페이지 주소
          "MAIN_PRDCTN" = #{mainPrdctn},            -- 주요 생산 제품
          "FCT_YN" = #{fctYn},                       -- 공장 여부
          "PIC_NM" = #{picNm},                       -- 담당자명
          "PIC_SE_CD" = #{picSeCd},                  -- 담당자 구분 코드
          "PIC_DEPT_NM" = #{picDeptNm},              -- 담당자 부서명
          "PIC_JBPS_CD" = #{picJbpsCd},              -- 담당자 직위 코드
          "PIC_MBL_TELNO" = #{picMblTelno},          -- 담당자 연락처
          "EML_ADDR" = #{emlAddr},                   -- 담당자 이메일
          "EML_RCPTN_AGRE_YN" = #{emlRcptnAgreYn},  -- 이메일 수신 동의 여부
          "LAST_MDFCN_DT" = #{lastMdfcnDt},          -- 수정 날짜
          "LAST_MDFR_ID" = #{lastMdfrId}             -- 수정자 ID
      WHERE
          "ENT_MBR_NO" = #{entMbrNo}                     -- 기업회원번호
  </update>

    <select id="isBusinessNumberDuplicate" resultType="int">
      /* isBusinessNumberDuplicate [사업자등록번호 중복 체크 쿼리] */
        SELECT
          COUNT(*)
        FROM
          "ENT_MBR_INFO_TB"
        WHERE
          "BR_NO" = #{businessNumber}
    </select>

  <select id="selectEmployeeListByEntNo" resultType="kr.go.tech.protection.admin.domain.account.enterprise.dto.EntMemberVO$EmployeeListResponseVO">
        /* selectEmployeeListByEntNo [기업소속 직원 목록 조회] */
        SELECT
            GMIT."MBR_NO",
            GMIT."MBR_NM",
      	 	  GMIT."MBR_MBL_TELNO",
            GMIT."EML_ADDR",
            EPMIT."SE_CD",
            EPMIT."DEPT_NM",
            EPMIT."JBPS_CD"
      	 FROM
            "GEN_MBR_INFO_TB" GMIT
      	 JOIN
            "ENT_PRCPT_MBR_INFO_TB" EPMIT
      	 ON
            GMIT."MBR_NO" = EPMIT."MBR_NO"
      	 WHERE
		        EPMIT."ENT_MBR_NO" = #{entNo}
  </select>

  <delete id="deleteEntMember">
      /* deleteEntMember [기업 회원 삭제 쿼리] */
      DELETE
      FROM
        "ENT_MBR_INFO_TB"
      WHERE
        "ENT_MBR_NO" = #{no}
  </delete>

  <update id="updateEmployeesDelYnByEntNo">
      /* updateEmployeesDelYnByEntNo [기업회원 소속 직원 목록 삭제여부 컬럼 Y 업데이트 쿼리] */
      UPDATE
          "ENT_PRCPT_MBR_INFO_TB"
      SET
          "DEL_YN" = 'Y'
      WHERE
          "ENT_MBR_NO" = #{no}
  </update>

</mapper>