<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.go.tech.protection.admin.domain.member.dao.MemberDAO">
    <select id="selectAdminMemberList" resultType="kr.go.tech.protection.admin.domain.member.dto.MemberVO$ListResponseVO" parameterType="kr.go.tech.protection.admin.domain.member.dto.MemberPO$SearchPO">
        /* selectAdminMemberList [관리자 회원 리스트 조회 쿼리] */
        SELECT
            a."MNGR_NO",
            a."MNGR_NM",
            a."MNGR_ID",
            a."MNGR_PSWD",
            a."TMPR_PSWD_YN",
            a."MNGR_TELNO",
            a."MNGR_MBL_TELNO",
            a."MNGR_EML",
            a."USE_YN",
            a."FRST_REG_DT",
            a."LAST_MDFCN_DT",
            ag."AUTHRT_NO",
            ag."AUTHRT_NM"
        FROM
            "MNGR_MBR_INFO_TB" a
        JOIN
            "AUTHRT_GROUP_INFO_TB" ag
        ON
            ag."AUTHRT_NO" = a."AUTHRT_NO"
        WHERE
            a."USE_YN" = 'Y'
        <if test="authGroupNo != null">
            AND
                ag."AUTHRT_NO" = #{authGroupNo}
        </if>
        <if test="searchType != null and searchKeyword != null">
            <choose>
                <when test='searchType == "MGR001"'>
                    AND
                        a."MNGR_NM" LIKE '%'||#{searchKeyword}||'%'
                </when>
                <when test='searchType == "MGR002"'>
                    AND
                        a."MNGR_ID" LIKE '%'||#{searchKeyword}||'%'
                </when>
            </choose>
        </if>
        ORDER BY
            a."FRST_RGTR_ID" DESC
    </select>

    <select id="selectAdminMemberById" resultType="kr.go.tech.protection.admin.domain.member.dto.MemberVO$DefaultMemberVO">
        /* selectAdminMemberById [아이디로 관리자 회원 조회 쿼리] */
        SELECT
            a."MNGR_NO",
            a."MNGR_NM",
            a."MNGR_ID",
            a."MNGR_PSWD",
            a."TMPR_PSWD_YN",
            a."MNGR_TELNO",
            a."MNGR_MBL_TELNO",
            a."MNGR_EML",
            a."PSWD_MDFR_DT",
            ag."AUTHRT_NO",
            ag."AUTHRT_NM"
        FROM
            "AUTHRT_GROUP_INFO_TB" ag JOIN "MNGR_MBR_INFO_TB" a
        ON
            a."AUTHRT_NO" = ag."AUTHRT_NO"
        WHERE
            a."MNGR_ID" = #{searchId}
    </select>

    <select id="selectAdminMemberByNo" resultType="kr.go.tech.protection.admin.domain.member.dto.MemberVO$DefaultMemberVO">
        /* selectAdminMemberByNo [관리자 회원 상세조회 쿼리] */
        SELECT
            a."MNGR_NO",
            a."MNGR_NM",
            a."MNGR_ID",
            a."MNGR_PSWD",
            a."TMPR_PSWD_YN",
            a."MNGR_TELNO",
            a."MNGR_MBL_TELNO",
            a."MNGR_EML",
            ag."AUTHRT_NO",
            ag."AUTHRT_NM"
        FROM
            "AUTHRT_GROUP_INFO_TB" ag
        JOIN
            "MNGR_MBR_INFO_TB" a
        ON
            ag."AUTHRT_NO" = a."AUTHRT_NO"
        WHERE
            a."MNGR_NO" = #{no}
    </select>

    <delete id="deleteAdminMember">
        /* deleteAdminMember [관리자 회원 삭제 쿼리] */
        DELETE
        FROM
            "MNGR_MBR_INFO_TB"
        WHERE
            "MNGR_NO" = #{no}
    </delete>

    <insert id="insertAdminMember" parameterType="kr.go.tech.protection.admin.domain.member.dto.MemberVO$RegRequestVO" useGeneratedKeys="true" keyProperty="mngrNo">
        /* insertAdminMember [관리자 회원 추가 쿼리] */
        INSERT INTO "MNGR_MBR_INFO_TB"
            (
                "AUTHRT_NO",
                "MNGR_NM",
                "MNGR_ID",
                "MNGR_PSWD",
                "TMPR_PSWD_YN",
                "MNGR_TELNO",
                "MNGR_MBL_TELNO",
                "MNGR_EML",
                "USE_YN",
                "FRST_REG_DT",
                "FRST_RGTR_ID",
                "LAST_MDFCN_DT",
                "LAST_MDFR_ID",
                "PSWD_MDFR_DT"
            ) VALUES (
                #{authrtNo},
                #{mngrNm},
                #{mngrId},
                #{mngrPswd},
                #{tmprPswdYn},
                #{mngrTelNo},
                #{mngrMblTelNo},
                #{mngrEml},
                #{useYn},
                #{frstRegDt},
                #{frstRgtrId},
                #{lastMdfcnDt},
                #{lastMdfrId},
                NOW()
            )
    </insert>

    <update id="updatePassword" parameterType="kr.go.tech.protection.admin.domain.member.dto.MemberVO$PasswordRequestVO">
    /* updatePassword [관리자회원 비밀번호 변경 쿼리] */
        UPDATE
            "MNGR_MBR_INFO_TB"
        SET
            "MNGR_PSWD" = #{mngrPswd},
            "TMPR_PSWD_YN" = #{tmprPswdYn},
            "LAST_MDFCN_DT" = #{lastMdfcnDt},
            "LAST_MDFR_ID" = #{lastMdfrId},
            "PSWD_MDFR_DT" = NOW()
        WHERE
            "MNGR_ID" = #{mngrId}
    </update>

    <select id="selectLoginMemberById" resultType="kr.go.tech.protection.admin.domain.member.dto.BaseMemberVO">
    /* selectLoginMemberById [관리자회원 ID로 회원 정보 조회 쿼리] */
        SELECT
            a."MNGR_NO",
            a."MNGR_NM",
            a."MNGR_ID",
            a."MNGR_PSWD",
            a."TMPR_PSWD_YN",
            a."MNGR_TELNO",
            a."MNGR_MBL_TELNO",
            a."MNGR_EML",
            a."USE_YN",
            ag."AUTHRT_NO",
            ag."AUTHRT_NM"
        FROM
            "AUTHRT_GROUP_INFO_TB" ag
        JOIN
            "MNGR_MBR_INFO_TB" a
        ON
            ag."AUTHRT_NO" = a."AUTHRT_NO"
        WHERE
            a."MNGR_ID" = #{id}
    </select>

    <update id="resetPassword" parameterType="kr.go.tech.protection.admin.domain.member.dto.MemberVO$ResetPasswordRequestVO">
        /* resetPassword [관리자회원 비밀번호 초기화 쿼리] */
        UPDATE
            "MNGR_MBR_INFO_TB"
        SET
            "MNGR_PSWD" = #{mngrPswd},
            "TMPR_PSWD_YN" = #{tmprPswdYn},
            "LAST_MDFCN_DT" = #{lastMdfcnDt},
            "LAST_MDFR_ID" = #{lastMdfrId},
            "PSWD_MDFR_DT" = NOW()
        WHERE
            "MNGR_ID" = #{mngrId}
    </update>

    <update id="updateAdminMember" parameterType="kr.go.tech.protection.admin.domain.member.dto.MemberVO$UpdateRequestVO">
        /* updateAdminMember [관리자 회원 업데이트 쿼리] */
        UPDATE
            "MNGR_MBR_INFO_TB"
        SET
            "MNGR_NM" = #{mngrNm},
            "MNGR_TELNO" = #{mngrTelno},
            "MNGR_MBL_TELNO" = #{mngrMblTelno},
            "MNGR_EML" = #{mngrEml},
            "AUTHRT_NO" = #{authrtNo},
            "LAST_MDFCN_DT" = #{lastMdfcnDt},
            "LAST_MDFR_ID" = #{lastMdfrId}
        WHERE
            "MNGR_ID" = #{mngrId}
    </update>
</mapper>